.footer-text-one {
    color: rgb(194, 192, 192);
    font-family: Montserrat;
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
    line-height: 16px;
}

.footer-text-two {
    color: #bebebe;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
}